html{
    margin: 0;
  }
  
  body{
    margin: 0;
      color: rgb(6, 1, 15);
      background-color: #07c6f1;
      background: linear-gradient(45deg, #3ab1e9 10%,#39b3f1 25%, #2954c1 97%);
  }

  nav{
    padding: 10px;
    margin-top: 5px;
    font-size: 25px;
    text-align: center;
    
  }
  
  .home{
    margin: 12px;
    padding: 5px;
    border: solid 3px rgb(32, 4, 4);
    background-color: rgb(204, 48, 98);
    border-radius: 5px;
  }
  
  .second{
    margin: 12px;
    border: solid 3px rgb(16, 5, 5);
    padding: 5px;
    background-color: rgb(166, 30, 234);
    border-radius: 5px;
  }

  h1{
    text-align: center;
    font-size: 50px;
    color: rgb(106, 4, 240);
    border: solid 4px rgb(249, 10, 10);
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ed9108 6%,#f36a0f 28%, #d9e010 97%);
  }

  .one{
    margin: 10px;
    padding: 15px;
    border: solid 3px rgb(32, 4, 4);
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(102, 249, 10);
    font-style: oblique;
    font-display: block;
    background: linear-gradient(45deg, #f02c2c 6%,#f83707 28%, #e06310 97%);
  }

  .two{
    margin: 16px;
    padding: 13px;
    border: solid 3px rgb(16, 5, 5);
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    color: rgb(102, 249, 10);
    font-style: oblique;
    font-display: block;
    background: linear-gradient(45deg, #f02c2c 6%,#f83707 28%, #e06310 97%);
  }

  #guess{
    display: inline;
    text-align: center;
    /* margin-top: 20px; */
    /* margin-left: 250px; */
    /* margin-bottom: px; */
    font-size: 30px;
    color: rgb(249, 233, 10);
    font-style:initial;
    border: solid 3px rgb(32, 4, 4);
    padding: 20px;
    border-radius: 100px;
    background: linear-gradient(45deg, #02e415 20%,#12d208 28%, #17b68e 97%);
  }

  #guessField{
    display: inline;
    text-align: center;
    /* margin-top: px; */
    /* margin-left: 255px; */
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(233, 237, 9);
    font-size: 20px;
    font-style: initial;
    border: solid 3px rgb(32, 4, 4);
    padding: 10px;
    border-radius: 100px;
    background: linear-gradient(45deg, #02e415 20%,#12d208 28%, #17b68e 97%);
  }

    .guessSubmit{
    display: inline;
    text-align: center;
    /* margin-left: 310px; */
    font-size: 25px;
    font-style: oblique;
    color: rgb(245, 249, 10);
    border-radius: 10px;
    padding: 8px;
    background: linear-gradient(45deg, #c106c1 6%,#f807ec 28%, #e010cf 97%);
    }

    .guessSubmit:hover{
      background: linear-gradient(45deg, #034262 6%,#0657c1 28%, #1039e0 97%);
      box-shadow: #d9e010;
      font-variant-caps: titling-caps;
    }

    .three{
        margin: 20px;
        padding: 10px;
        border: solid 3px rgb(16, 5, 5);
        text-align: justify;
        text-decoration: double;
        border-radius: 5px;
        margin-right: 50px;
        font-size: 30px;
        color: rgb(102, 249, 10);
        font-style: oblique;
        font-display: block;
        background: linear-gradient(45deg, #f02c2c 6%,#f83707 28%, #e06310 97%);
    }

    .guesses{
        text-align: justify;
        text-decoration: double;
        border-radius: 5px;
        margin-right: 50px;
        font-size: 25px;
        color: rgb(102, 249, 10);
        font-style: oblique;
        font-display: block;
        background: linear-gradient(45deg, #f02c2c 6%,#f83707 28%, #e06310 97%);
    }

    .form{
       text-align: center; 
    }

    .four{
        margin: 20px;
        padding: 10px;
        border: solid 3px rgb(16, 5, 5);
        text-align: justify;
        text-decoration: double;
        border-radius: 5px;
        margin-right: 50px;
        font-size: 25px;
        color: rgb(102, 249, 10);
        font-style: oblique;
        font-display: block;
        background: linear-gradient(45deg, #f02c2c 6%,#f83707 28%, #e06310 97%);
    }

    .lowOrHi{
        text-align: center;
        font-size: 25px;
        color: rgb(102, 249, 10);
        font-style: oblique;
        font-display: block;
        background: linear-gradient(45deg, #f02c2c 6%,#f83707 28%, #e06310 97%);
    }

    .New-Game{
        padding: 10px;
    margin: 0 5px;
    transform: skewX(-20deg);
    color: rgb(53, 244, 15);
    cursor: pointer;
    background-color: transparent;
    border:4px solid #ec0528;  
    text-align: center;
    display: inline-block;
    font-size: 25px;
    background: linear-gradient(45deg, #f004a9 6%,#cd0462 28%, #4003da 97%);
    margin-left: 400px;
    }

    .New-Game:hover{
        background: linear-gradient(45deg, #6007e6 6%,#0485e1 28%, #2f10e0 97%);
        box-shadow: #d9e010;
        font-variant-caps: titling-caps;
    }

   